@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  box-sizing: border-box;


}

.imagen{
  display: block;
  
  width:  400px;
  margin:  90px auto;
  padding: 20px;
  filter: drop-shadow(0 0 15px yellow);
  position: relative;
  




}

.card{
  
  width: 400px; 
  margin: 20px auto;
  border-radius: 5px;
  display: block;
  
  bottom: 40px;
  font-family: "Open Sans", sans-serif;
  place-content: center;
  box-shadow:  15px 15px 20px #000;

}
.spiderman{
  
  width: 100%;
  padding: 0;
  bottom: 8px;
  object-fit: contain;
  border-radius: 5px 5px 0px 0px;
  

}
.contenedor{
  width: 100%;
   margin: 0 auto;




}

.letra{
  display: block;
  color: red;
  text-align: center;
  
}
.texto{
  width: 380px;
  text-align: center;

}
.button{
  background-color: brown;
  border-radius: 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  height: 40px;
  width: 160px;
  place-content: center;
  text-align: center;
  margin: 20px auto;
}



